QLTKKH/Web References/securities_infoservice/_SECURITIES_INFOWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ThemSECURITIES_INFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="floorprice" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="celingprice" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="basicprice" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="mrratiorate" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemSECURITIES_INFOResponse">
        <s:complexType />
      </s:element>
      <s:element name="XoaSECURITIES_INFO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaSECURITIES_INFOResponse">
        <s:complexType />
      </s:element>
      <s:element name="TinhMaMax">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="column1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="table1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TinhMaMaxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TinhMaMaxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemSECURITIES_INFOSoapIn">
    <wsdl:part name="parameters" element="tns:ThemSECURITIES_INFO" />
  </wsdl:message>
  <wsdl:message name="ThemSECURITIES_INFOSoapOut">
    <wsdl:part name="parameters" element="tns:ThemSECURITIES_INFOResponse" />
  </wsdl:message>
  <wsdl:message name="XoaSECURITIES_INFOSoapIn">
    <wsdl:part name="parameters" element="tns:XoaSECURITIES_INFO" />
  </wsdl:message>
  <wsdl:message name="XoaSECURITIES_INFOSoapOut">
    <wsdl:part name="parameters" element="tns:XoaSECURITIES_INFOResponse" />
  </wsdl:message>
  <wsdl:message name="TinhMaMaxSoapIn">
    <wsdl:part name="parameters" element="tns:TinhMaMax" />
  </wsdl:message>
  <wsdl:message name="TinhMaMaxSoapOut">
    <wsdl:part name="parameters" element="tns:TinhMaMaxResponse" />
  </wsdl:message>
  <wsdl:portType name="_SECURITIES_INFOWebServiceSoap">
    <wsdl:operation name="ThemSECURITIES_INFO">
      <wsdl:input message="tns:ThemSECURITIES_INFOSoapIn" />
      <wsdl:output message="tns:ThemSECURITIES_INFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaSECURITIES_INFO">
      <wsdl:input message="tns:XoaSECURITIES_INFOSoapIn" />
      <wsdl:output message="tns:XoaSECURITIES_INFOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TinhMaMax">
      <wsdl:input message="tns:TinhMaMaxSoapIn" />
      <wsdl:output message="tns:TinhMaMaxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="_SECURITIES_INFOWebServiceSoap" type="tns:_SECURITIES_INFOWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemSECURITIES_INFO">
      <soap:operation soapAction="http://tempuri.org/ThemSECURITIES_INFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSECURITIES_INFO">
      <soap:operation soapAction="http://tempuri.org/XoaSECURITIES_INFO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TinhMaMax">
      <soap:operation soapAction="http://tempuri.org/TinhMaMax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="_SECURITIES_INFOWebServiceSoap12" type="tns:_SECURITIES_INFOWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemSECURITIES_INFO">
      <soap12:operation soapAction="http://tempuri.org/ThemSECURITIES_INFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSECURITIES_INFO">
      <soap12:operation soapAction="http://tempuri.org/XoaSECURITIES_INFO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TinhMaMax">
      <soap12:operation soapAction="http://tempuri.org/TinhMaMax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_SECURITIES_INFOWebService">
    <wsdl:port name="_SECURITIES_INFOWebServiceSoap" binding="tns:_SECURITIES_INFOWebServiceSoap">
      <soap:address location="https://localhost:44374/_SECURITIES_INFOWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="_SECURITIES_INFOWebServiceSoap12" binding="tns:_SECURITIES_INFOWebServiceSoap12">
      <soap12:address location="https://localhost:44374/_SECURITIES_INFOWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>