QLTKKH/Web References/lnmastservice/_LNMASTWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ThemLNMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prinnml" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="intdue" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="intnmlacr" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="rate1" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="rate2" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="rate3" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lastdate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="opndate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="rlsdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemLNMASTResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemLNMASTSoapIn">
    <wsdl:part name="parameters" element="tns:ThemLNMAST" />
  </wsdl:message>
  <wsdl:message name="ThemLNMASTSoapOut">
    <wsdl:part name="parameters" element="tns:ThemLNMASTResponse" />
  </wsdl:message>
  <wsdl:portType name="_LNMASTWebServiceSoap">
    <wsdl:operation name="ThemLNMAST">
      <wsdl:input message="tns:ThemLNMASTSoapIn" />
      <wsdl:output message="tns:ThemLNMASTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="_LNMASTWebServiceSoap" type="tns:_LNMASTWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemLNMAST">
      <soap:operation soapAction="http://tempuri.org/ThemLNMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="_LNMASTWebServiceSoap12" type="tns:_LNMASTWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemLNMAST">
      <soap12:operation soapAction="http://tempuri.org/ThemLNMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_LNMASTWebService">
    <wsdl:port name="_LNMASTWebServiceSoap" binding="tns:_LNMASTWebServiceSoap">
      <soap:address location="https://localhost:44374/_LNMASTWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="_LNMASTWebServiceSoap12" binding="tns:_LNMASTWebServiceSoap12">
      <soap12:address location="https://localhost:44374/_LNMASTWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>