QLTKKH/Web References/semastservice/_SEMASTWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ThemSEMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="afacctno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totalbuyamt" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="opndate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="clsdate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="lastdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemSEMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="SuaSEMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="afacctno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="totalbuyamt" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="opndate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="clsdate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="lastdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaSEMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="XoaSEMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaSEMASTResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemSEMASTSoapIn">
    <wsdl:part name="parameters" element="tns:ThemSEMAST" />
  </wsdl:message>
  <wsdl:message name="ThemSEMASTSoapOut">
    <wsdl:part name="parameters" element="tns:ThemSEMASTResponse" />
  </wsdl:message>
  <wsdl:message name="SuaSEMASTSoapIn">
    <wsdl:part name="parameters" element="tns:SuaSEMAST" />
  </wsdl:message>
  <wsdl:message name="SuaSEMASTSoapOut">
    <wsdl:part name="parameters" element="tns:SuaSEMASTResponse" />
  </wsdl:message>
  <wsdl:message name="XoaSEMASTSoapIn">
    <wsdl:part name="parameters" element="tns:XoaSEMAST" />
  </wsdl:message>
  <wsdl:message name="XoaSEMASTSoapOut">
    <wsdl:part name="parameters" element="tns:XoaSEMASTResponse" />
  </wsdl:message>
  <wsdl:portType name="_SEMASTWebServiceSoap">
    <wsdl:operation name="ThemSEMAST">
      <wsdl:input message="tns:ThemSEMASTSoapIn" />
      <wsdl:output message="tns:ThemSEMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaSEMAST">
      <wsdl:input message="tns:SuaSEMASTSoapIn" />
      <wsdl:output message="tns:SuaSEMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaSEMAST">
      <wsdl:input message="tns:XoaSEMASTSoapIn" />
      <wsdl:output message="tns:XoaSEMASTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="_SEMASTWebServiceSoap" type="tns:_SEMASTWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemSEMAST">
      <soap:operation soapAction="http://tempuri.org/ThemSEMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSEMAST">
      <soap:operation soapAction="http://tempuri.org/SuaSEMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSEMAST">
      <soap:operation soapAction="http://tempuri.org/XoaSEMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="_SEMASTWebServiceSoap12" type="tns:_SEMASTWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemSEMAST">
      <soap12:operation soapAction="http://tempuri.org/ThemSEMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSEMAST">
      <soap12:operation soapAction="http://tempuri.org/SuaSEMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSEMAST">
      <soap12:operation soapAction="http://tempuri.org/XoaSEMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_SEMASTWebService">
    <wsdl:port name="_SEMASTWebServiceSoap" binding="tns:_SEMASTWebServiceSoap">
      <soap:address location="https://localhost:44374/_SEMASTWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="_SEMASTWebServiceSoap12" binding="tns:_SEMASTWebServiceSoap12">
      <soap12:address location="https://localhost:44374/_SEMASTWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>