QLTKKH/Web References/odmastservice/_ODMASTWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ThemODMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="afacctno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastchange" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="exectype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codeid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderqtty" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="quoteprice" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="execqtty" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="execamt" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="remainqtty" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="cancelqtty" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="bratio" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="edstatus" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemODMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="HuyODMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HuyODMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="Update_ODMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exectype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderqtty" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="quoteprice" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="execqtty" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="execamt" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="remainqtty" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_ODMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="ThanhToan">
        <s:complexType />
      </s:element>
      <s:element name="ThanhToanResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ThemODMASTSoapIn">
    <wsdl:part name="parameters" element="tns:ThemODMAST" />
  </wsdl:message>
  <wsdl:message name="ThemODMASTSoapOut">
    <wsdl:part name="parameters" element="tns:ThemODMASTResponse" />
  </wsdl:message>
  <wsdl:message name="HuyODMASTSoapIn">
    <wsdl:part name="parameters" element="tns:HuyODMAST" />
  </wsdl:message>
  <wsdl:message name="HuyODMASTSoapOut">
    <wsdl:part name="parameters" element="tns:HuyODMASTResponse" />
  </wsdl:message>
  <wsdl:message name="Update_ODMASTSoapIn">
    <wsdl:part name="parameters" element="tns:Update_ODMAST" />
  </wsdl:message>
  <wsdl:message name="Update_ODMASTSoapOut">
    <wsdl:part name="parameters" element="tns:Update_ODMASTResponse" />
  </wsdl:message>
  <wsdl:message name="ThanhToanSoapIn">
    <wsdl:part name="parameters" element="tns:ThanhToan" />
  </wsdl:message>
  <wsdl:message name="ThanhToanSoapOut">
    <wsdl:part name="parameters" element="tns:ThanhToanResponse" />
  </wsdl:message>
  <wsdl:portType name="_ODMASTWebServiceSoap">
    <wsdl:operation name="ThemODMAST">
      <wsdl:input message="tns:ThemODMASTSoapIn" />
      <wsdl:output message="tns:ThemODMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HuyODMAST">
      <wsdl:input message="tns:HuyODMASTSoapIn" />
      <wsdl:output message="tns:HuyODMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_ODMAST">
      <wsdl:input message="tns:Update_ODMASTSoapIn" />
      <wsdl:output message="tns:Update_ODMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThanhToan">
      <wsdl:input message="tns:ThanhToanSoapIn" />
      <wsdl:output message="tns:ThanhToanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="_ODMASTWebServiceSoap" type="tns:_ODMASTWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemODMAST">
      <soap:operation soapAction="http://tempuri.org/ThemODMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HuyODMAST">
      <soap:operation soapAction="http://tempuri.org/HuyODMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_ODMAST">
      <soap:operation soapAction="http://tempuri.org/Update_ODMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThanhToan">
      <soap:operation soapAction="http://tempuri.org/ThanhToan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="_ODMASTWebServiceSoap12" type="tns:_ODMASTWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThemODMAST">
      <soap12:operation soapAction="http://tempuri.org/ThemODMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HuyODMAST">
      <soap12:operation soapAction="http://tempuri.org/HuyODMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_ODMAST">
      <soap12:operation soapAction="http://tempuri.org/Update_ODMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThanhToan">
      <soap12:operation soapAction="http://tempuri.org/ThanhToan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_ODMASTWebService">
    <wsdl:port name="_ODMASTWebServiceSoap" binding="tns:_ODMASTWebServiceSoap">
      <soap:address location="https://localhost:44374/_ODMASTWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="_ODMASTWebServiceSoap12" binding="tns:_ODMASTWebServiceSoap12">
      <soap12:address location="https://localhost:44374/_ODMASTWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>