QLTKKH/Web References/cfmastservice/_CFMASTWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DuyetCFMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acctno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="martype" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mrcrlimitmax" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="afacctno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="balance" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="pp" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="cidepofeeacr" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="depofeeamt" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="currentdebt" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="lastchange" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DuyetCFMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="SuaThemTienCIMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="afacctno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="depofeeamt" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lastchange" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaThemTienCIMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="SuaTruTienCIMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="afacctno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="money" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="depofeeamt" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="lastchange" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaTruTienCIMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="SucMua">
        <s:complexType />
      </s:element>
      <s:element name="SucMuaResponse">
        <s:complexType />
      </s:element>
      <s:element name="ThemCFMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custodycd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iddate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemCFMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="SuaCFMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custodycd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iddate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuaCFMASTResponse">
        <s:complexType />
      </s:element>
      <s:element name="XoaCFMAST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaCFMASTResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DuyetCFMASTSoapIn">
    <wsdl:part name="parameters" element="tns:DuyetCFMAST" />
  </wsdl:message>
  <wsdl:message name="DuyetCFMASTSoapOut">
    <wsdl:part name="parameters" element="tns:DuyetCFMASTResponse" />
  </wsdl:message>
  <wsdl:message name="SuaThemTienCIMASTSoapIn">
    <wsdl:part name="parameters" element="tns:SuaThemTienCIMAST" />
  </wsdl:message>
  <wsdl:message name="SuaThemTienCIMASTSoapOut">
    <wsdl:part name="parameters" element="tns:SuaThemTienCIMASTResponse" />
  </wsdl:message>
  <wsdl:message name="SuaTruTienCIMASTSoapIn">
    <wsdl:part name="parameters" element="tns:SuaTruTienCIMAST" />
  </wsdl:message>
  <wsdl:message name="SuaTruTienCIMASTSoapOut">
    <wsdl:part name="parameters" element="tns:SuaTruTienCIMASTResponse" />
  </wsdl:message>
  <wsdl:message name="SucMuaSoapIn">
    <wsdl:part name="parameters" element="tns:SucMua" />
  </wsdl:message>
  <wsdl:message name="SucMuaSoapOut">
    <wsdl:part name="parameters" element="tns:SucMuaResponse" />
  </wsdl:message>
  <wsdl:message name="ThemCFMASTSoapIn">
    <wsdl:part name="parameters" element="tns:ThemCFMAST" />
  </wsdl:message>
  <wsdl:message name="ThemCFMASTSoapOut">
    <wsdl:part name="parameters" element="tns:ThemCFMASTResponse" />
  </wsdl:message>
  <wsdl:message name="SuaCFMASTSoapIn">
    <wsdl:part name="parameters" element="tns:SuaCFMAST" />
  </wsdl:message>
  <wsdl:message name="SuaCFMASTSoapOut">
    <wsdl:part name="parameters" element="tns:SuaCFMASTResponse" />
  </wsdl:message>
  <wsdl:message name="XoaCFMASTSoapIn">
    <wsdl:part name="parameters" element="tns:XoaCFMAST" />
  </wsdl:message>
  <wsdl:message name="XoaCFMASTSoapOut">
    <wsdl:part name="parameters" element="tns:XoaCFMASTResponse" />
  </wsdl:message>
  <wsdl:portType name="CFMASTWebServiceSoap">
    <wsdl:operation name="DuyetCFMAST">
      <wsdl:input message="tns:DuyetCFMASTSoapIn" />
      <wsdl:output message="tns:DuyetCFMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaThemTienCIMAST">
      <wsdl:input message="tns:SuaThemTienCIMASTSoapIn" />
      <wsdl:output message="tns:SuaThemTienCIMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaTruTienCIMAST">
      <wsdl:input message="tns:SuaTruTienCIMASTSoapIn" />
      <wsdl:output message="tns:SuaTruTienCIMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SucMua">
      <wsdl:input message="tns:SucMuaSoapIn" />
      <wsdl:output message="tns:SucMuaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemCFMAST">
      <wsdl:input message="tns:ThemCFMASTSoapIn" />
      <wsdl:output message="tns:ThemCFMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuaCFMAST">
      <wsdl:input message="tns:SuaCFMASTSoapIn" />
      <wsdl:output message="tns:SuaCFMASTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaCFMAST">
      <wsdl:input message="tns:XoaCFMASTSoapIn" />
      <wsdl:output message="tns:XoaCFMASTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CFMASTWebServiceSoap" type="tns:CFMASTWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DuyetCFMAST">
      <soap:operation soapAction="http://tempuri.org/DuyetCFMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaThemTienCIMAST">
      <soap:operation soapAction="http://tempuri.org/SuaThemTienCIMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaTruTienCIMAST">
      <soap:operation soapAction="http://tempuri.org/SuaTruTienCIMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SucMua">
      <soap:operation soapAction="http://tempuri.org/SucMua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemCFMAST">
      <soap:operation soapAction="http://tempuri.org/ThemCFMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaCFMAST">
      <soap:operation soapAction="http://tempuri.org/SuaCFMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaCFMAST">
      <soap:operation soapAction="http://tempuri.org/XoaCFMAST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CFMASTWebServiceSoap12" type="tns:CFMASTWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DuyetCFMAST">
      <soap12:operation soapAction="http://tempuri.org/DuyetCFMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaThemTienCIMAST">
      <soap12:operation soapAction="http://tempuri.org/SuaThemTienCIMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaTruTienCIMAST">
      <soap12:operation soapAction="http://tempuri.org/SuaTruTienCIMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SucMua">
      <soap12:operation soapAction="http://tempuri.org/SucMua" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemCFMAST">
      <soap12:operation soapAction="http://tempuri.org/ThemCFMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaCFMAST">
      <soap12:operation soapAction="http://tempuri.org/SuaCFMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaCFMAST">
      <soap12:operation soapAction="http://tempuri.org/XoaCFMAST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CFMASTWebService">
    <wsdl:port name="CFMASTWebServiceSoap" binding="tns:CFMASTWebServiceSoap">
      <soap:address location="https://localhost:44374/_CFMASTWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CFMASTWebServiceSoap12" binding="tns:CFMASTWebServiceSoap12">
      <soap12:address location="https://localhost:44374/_CFMASTWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>